@charset "utf-8";
/* CSS Document */
body{line-height: 1.42857;}
a:hover, a:focus {color: #2a6496;}
/*公共页面顶部部分*/
.header{height:63px;background-color:#F5F5F5;}
.header img{float:left;}
.header-content ul{float:right;}
.header-ul{height:63px;line-height:63px;padding-left:0px;display:inline-block;color:#5E666D;}
.header-ul li:first-child{padding-left: 23px;border:none;background:url("../images/images2/cart.png") no-repeat 0px 23px;}
.header-li2{padding-left:40px;background:url("../images/images2/yun.png") no-repeat 13px 26px;}
.header-ul li:last-child{background:url("../images/images2/person.png") no-repeat 13px 24px;}
.header-ul li:last-child.active{background:url('../images/images2/person_white.png') no-repeat 13px 24px #77ABFF;color:white;}
.header-ul  li a:hover{text-decoration:underline;}
#person_name{margin-left:34px;}
.person-a{background:url("../images/images2/triang10.png") no-repeat 0px 3px;height:10px;width:10px;display:inline-block;margin:0 5px 0 3px;}
.user-popbtn span:last-child.active{background:url('../images/images2/triang10_white.png') no-repeat 0px 3px;}
.header-ul li{float:left;position:relative;}
.personpop{position:absolute;display:none;z-index:200;right:0;width:100%;}
a#person_center,a#person_exit{color: white;}
.personpop p{margin:0px;height:40px;line-height:40px;border-top:1px solid #5EA0EF;padding-left: 45px;}
.personpop a:hover{text-decoration:underline;}
.personpop p:first-child{background:url("../images/images2/person1.png") #77ABFF no-repeat 20px 14px;}
.personpop p:last-child{background:#77ABFF url("../images/images2/person2.png") no-repeat 20px 13px;}
#shopcart,#operplatform{color:#FF7E2E;}
.a_oper, .a_oper:hover, .a-oper, .a-oper:hover {color: #1c85e0;}
.a_oper:hover, .a-oper:hover, .hover-a-oper:hover {color: #1c85e0;text-decoration: underline;}
/*顶部登录*/
.top-login {position:relative;}
.login-link {float:right;background:url(../images/usercenter-cssimg.png) no-repeat -250px -233px;padding:12px 20px 12px 50px;color:#B8C4CE;font-size:16px;margin:9px 15px 0 0;display:inline-block;}
/* 登录页 */
.login {}
.login .main-content {height:499px;background:url(../images/images2/login-bg.png) no-repeat 0 30px;position:relative;}
.login-box {width:390px;/*height:290px;*/border:4px solid #85C3F2;border-radius:5px;position:absolute;right:0;top:50%;z-index:750;margin-top:-169px;padding:10px 15px;background:#F7F7F7;font-size:14px;opacity:0.95;filter:Alpha(opacity=95);}
.login-box a {color:#4095CE;}
.login-box a:hover {text-decoration:underline;}
.form-item {padding:15px;}
.login_box_imageCode img{margin: 0 5px 0 0;vertical-align: middle;}
.control-label {width:100px;float:left; line-height:40px; padding-right:5px;}
.form-control{float:left;display:block;width:370px;height:20px;padding:6px 10px;font-size:14px;color:#888;vertical-align:middle;}
.form-control {background-color:#fff;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
.form-control:focus{border-color: #66afe9;	outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);}
.login-box .form-control {float:none;border:1px solid #A7BAC6;padding:10px 0;width:305px;margin:0;font-size:16px;color:#999;padding-left:15px;height:20px;}
.submit-btn {display:block;cursor:pointer; background:#71AEDB;border:1px solid #528FC1;outline:none;border-radius:5px;padding:12px 93px;color:#fff;font-size:16px;margin-top:15px;text-align:center;}
.submit-btn:hover {opacity:0.8;filter:Alpha(opacity=80);text-decoration:none;}
.login-box a.submit-btn {width:100%; padding:8px 0;color:#fff; text-decoration:none;}
.gray1 {color:#CACECF;}
.error-info {float:left; color:red; height:30px;height:25px;}
.login-box .label {color:#999;position:absolute;top:10px;left:15px; display:inline-block;font-size:14px;font-weight:normal;}
.login-box .form-control.code {width:160px;display:inline-block;margin-right:10px;*float:left;}

/* 顶部登录弹出层 */
.top-login .login-box{display:none;position:absolute; top:226px;right:0; color:#333;line-height:160%;opacity:1;}
.top-login1 .login-box{display:none;position:absolute; top:226px;right:0; color:#333;line-height:160%;opacity:1;}
.login-link.active {background-color:#243644;}
.top-login .login-box .label {top:8px;}
.top-login a.submit-btn, .top-login1 a.submit-btn{width:100%;}
.top-login .form-item {padding:5px 15px;}
.close-login {float:right;cursor:pointer;font-weight:normal;}
.login_box_imageCode {text-align:left;clear:both;overflow:hidden;zoom:1;}
/*提示用户登录*/
.prompted-login.top-login {position:static;}
.prompted-login .login-box{z-index: 10000;position:fixed;top:50%;left:50%;right:auto;margin:-153px 0 0 -196px;border:4px solid #85C3F2;border-radius:5px;box-shadow:0 0 9px #535353;background:#F7F7F7;padding:10px 15px;}
.prompted-login1 .login-box{z-index: 10000;position:fixed;_position:absolute;top:50%;left:50%;right:auto;margin:-153px 0 0 -194px;box-shadow:0 0 9px #535353;background:#F7F7F7;width:350px;_top:10%;_margin-top:0;}
.login-box .login-title, .agreement-title {text-align:left;clear:both;overflow:hidden;color:#379BE9;font-size:18px;font-weight:bold;letter-spacing:1px;padding:0 5px 5px 5px;border-bottom:1px solid #E5E6E6;}
/*tab菜单*/
.tab-nav {background:#ECECEC;}
.tab-nav > li {display:inline-block;margin-right:-3px;}
.tab-nav > li a {display:block;border-top:2px solid transparent; padding:11px 15px;font-size:16px;color:#333;}
.tab-nav > li.active a {background:#fff; border-top:2px solid #3674B1;}
.tab-nav > li a:hover {background:#fff;padding:10px 15px}
.tab-nav > li.active a:hover {padding:11px 15px;}
.tab-content {background:#fff;}
.tab-content > li {display:none;float:none;}
.tab-content > li.first {display:block;}

/*遥感集市首页*/
.index2-header{background:white;clear:both;overflow:hidden;height: 84px;}
.index2_top_imgroll{height:300px;}
.index2_datacenter, .index2_cloud,.index2_order{background-color:#FBFBFB;clear:both;}
.index2_infopro{background-color:#F4F4F4;}
.index2_app,.index2_bbs{background-color:#F1F1F1;}
.yes_login{color:#ff7e2e;}
.index2_top_username{color:#434a54;margin:0 5px;}
/* .index2_header_content >*, */
.index2_header_table{display:inline-block;}
.logo {float:left;vertical-align:middle;margin-top:20px;}
#userlogin_no, #userlogin_yes {float:right;margin-top:23px;text-align:right;}
.no_login, .yes_login, .index2_header_ul {float:right;}
.no_login, .yes_login {margin-top:7px;}
.index2_header_table{border-collapse:collapse;border:1px solid #D6D6D6;height:33px;vertical-align: middle;}
.index2_header_table td{height:32px;text-align:center;}
.index2_header_table td a{height:37px;display: inline-block;height: 100%;line-height: 32px;width: 100%;}
.index2_header_table td a:hover{color:white;background:#099aeb;}
.index2_header_table td.index2_header_bl{border-left:1px solid #D6D6D6;}
.index2_header_ul{float:right;border:1px solid #D6D6D6;vertical-align:middle;}
.index2_header_ul li{float:left;line-height:35px;height:35px;}
.index2_header_ul li a{display:block;line-height:35px;height:35px;padding: 0 10px;font-size: 14px;}
.index2_header_ul li a:hover{color:white;background:#099aeb;}
.index2_top_shopcart_num,.index2_top_operplatform_num{color: #ff7e2e;margin:0 0 0 5px;}
.index2_header_ul_li2{border-left:1px solid #D6D6D6;border-right:1px solid #D6D6D6;;}
.index2_header_content a.a_oper{margin:12px;}
.index2_div_a{position:absolute;height:49px;width:150px;display:inline-block;font-size:16px;letter-spacing:2px;line-height:49px;text-align:center;color:white;}
.index2_div_abg{background:url("../images/images2/index2/index_RS_a_bg.png");border-radius:25px;box-shadow: 0 0 5px black;}
.index2_datacenter a{bottom: 20px;left: 1005px;}
.index2_infopro a{bottom:40px;left:1005px;background:#00B26E;}
.index2_cloud a{bottom:40px;left:80px;color:white;height:45px;line-height:45px;background:#F2896C;}
.index2_app a{bottom:20px;left:1005px;}
.index2_order a{bottom: 20px;left: 965px;width: 214px;}
.index2_bbs a{background:#2D6ED6;bottom: 60px;left: 875px;}
.footer-box{clear:both;}
.index2_footer{background:#151C27;}
.index2_footer_blue{background:#379BE9;padding: 10px 0;height:25px; }
.foot_copyright{background:#F3F3F3;font-size:12px;line-height:230%;padding:10px 0 0 0;color:#4C5C74;}
.foot_copyright a {color:#4C5C74;}
.index2_f_div{padding:10px 0px 10px 0px;}
.index2_f_div>img{vertical-align:top;}
.index2_foot_ul{float:right;overflow:hidden;letter-spacing: 1px;}
.index2_foot_ul li{float:left;margin:0 10px 0 52px;}
.index2_foot_ul li a{color:#bdbdbd;font-size:16px;}
.index2_foot_ul li a:hover,.index2_footer p a:hover,.index2_footer2 p a:hover,.index2_footer_blue .index2_foot_ul li a:hover{color:white;text-decoration:underline;}
.foot_copyright a:hover{color:black;text-decoration:underline;}
.index2_footer_blue .index2_foot_ul li a{color:#dce0e2;}
.index2_foot_pbor{padding:20px 0 0 0;*padding:10px 0 0 0;clear:both;line-height:100%;}
.index2_footer p,index2_footer2 p{color:#a9c5f0;font-size:13px;margin-top:10px;}
.foot_copyright p{color:#4c5c75;font-size:12px;text-align: center;}
.index2_footer p span,.index2_footer2 p,.foot_copyright p span{margin-right:10px;}
.index2_footer p span.foot_end_gap,.index2_footer2 p span.foot_end_gap,.foot_copyright p span.foot_end_gap{margin:0 10px;}
.index2_footer p span.index2_foot_span_last,.index2_footer2 p span.index2_foot_span_last,.foot_copyright p span.index2_foot_span_last{float:right;}
.index2_footer p a,.index2_footer2 p a{color:#a9c5f0;}
.foot_copyright p a{color:#4C5B72;}
.index2_footer2{font-size:12px;background:#1A2330;color:#A9C5F0;line-height:230%;padding:10px 0;}
.index2_footer2 a {color:#A9C5F0;}
.index2_footer2 a:hover{color:white;text-decoration:underline;}
.index2_footer2 .or-code{color:#A9C5F0;}
#owl-demo-index2,.item-index2 img{display:block;margin:0 auto;}
#owl-demo-index2 {width:100%;overflow:hidden;}
.item-index2 img{height:300px;}
.item-index2.item1 {background:#f3d9b6;}
.item-index2.item2 {background:#ffecce;}
.item-index2.item3 {background:#4485c9;}
.or-code {margin-left:15px;color:#BFBFBF;text-align: center;}
.foot_end_gap {margin:0 5px;}
.footertop{width:100%;}
.rs-logo-text{float: left;font-size: 20px;}
/*以下为IE兼容性相关css*/
.index2_top_imgroll .owl-theme .owl-controls .owl-page {_width:28px;_height:12px;_overflow:hidden;_margin-bottom:10px;}
.index2_top_imgroll .owl-theme .owl-controls .owl-page.active {_width:12px;_background:#20D2FF;_border:none;}
.index2_top_imgroll .owl-theme .owl-controls .owl-page span {_margin-top:0;_margin-bottom:0;}
.index2_top_imgroll .owl-theme .owl-controls {left:0;}

.go_to_up {z-index:19999;display:block;border:1px solid #ccc;font-family:'w3cplus';position:fixed;width:45px;height:45px;right:15px;bottom:153px;/* display:none; */font-size:24px;}
.go_to_up img {width:30px;height:40px;}
.go_to_up1{background:url(../images/turnToTop_20.png) center center no-repeat;display:block;height:100%;width:100%;}
.go_to_up2{display:none;background:url(../images/turnToTop_21.png) center center no-repeat;height:100%;width:100%;}
.go_to_up2 span{display:inline-block;width:30px;}

.footer p{margin:8px;color:#A7AAAF;}
.footer p span{color:#2895E8;}
.footer p span.foot_end_gap{color:#A7AAAF;margin:0 10px;}
.footer p a{color:#A7AAAF;width:56px;display:inline-block;}
.footer p a:hover{color:#2895E8;}
/*footer*/
.footer {text-align:center; padding:5px 0; clear:both;background-color:#E4E6EB;}
.footer-link {margin-top:5px;}
.footer-link a{margin:0 15px;color:#333;}
.footer-link a:hover{color:#0080FF;}
.blue16 {font-size:16px; color:#0195F9;}
.font-normal,.font-normal *{font-weight:normal;}

/*浏览器检测*/
#browser-check {display:none;position:absolute;width:100%;height:100%;top:0;left:0;z-index:12;}
#browser-check .page-bg {position:absolute;top:0;left:0;z-index:12;width:100%;height:100%;background:#000;opacity:0.2;filter:alpha(opacity=20);}
#browser-check .check-box {position:fixed;top:50%;left:50%;z-index:13;width:400px;height: 286px;background: #fff;margin: -158px 0 0 -230px;padding: 15px 30px;text-align:left;font-size:16px;line-height:180%;border-radius:8px;}
.browser-list {clear:both;overflow:hidden;margin-top:15px;}
.browser-list li {float:left;width:30%;}
.browser-list li.last {width:40%;}
.browser-list a {display:block;text-align:center;}
.browser-list a:hover {opacity:0.6;}
.firefox-icon, .chrome-icon, .ie-icon {display:block;background:url(../images/images2/browser-image.png) no-repeat;width:63px;height:63px;margin:0 auto 5px;}
.chrome-icon {background-position:0 -63px;}
.ie-icon {background-position:0 -127px;width:59px;height:58px;margin-top:5px;}

/*集市首页3*/
.index3-top-left{position:relative;z-index:100;}
.index3-top-ul{background:#F2F2F2;box-shadow:0px 0 10px #505050;}
.index3-top-ul>li{padding:1px 0 1px 1px;width:197px;text-align:center;font-size:18px;height:57px;line-height:57px;border-left:1px solid #CACACA;border-bottom:1px solid #DBDBDB;}
.index3-top-ul>li.border-none{border:none;}
.index3-top-ul>li p{cursor:pointer;position:relative;z-index:10;padding-left: 3px;}
.index3-top-ul>li.active p,.index3-top-ul>li p:hover{background:white;color:#2D6ED6;outline:2px solid #bbbbbb;}
.index3-top-ul>li>ul{display:none;position:absolute;right:-162px;background:white;border:2px solid #bbbbbb;;font-size:16px;}
.index3-top-ul>li>ul>li{cursor:pointer;width:160px;line-height:49px;height:49px;text-align:center;  white-space: nowrap;}
.index3-top-ul>li>ul>li:hover{background:#F2F2F2;}
.index3-top-ul>li>ul>li a{color:#666666;display:block;width:100%;height:100%;}
.index3-top-ul>li>ul>li a:hover{color:#333333;}
.index3-top-ul>li>i{display:none;height:100%;position:relative;z-index:100;}
.index3-top-ul>li>i.first{background:#099AEB;float:left;left:-2px;position:relative;width:2px;}
.index3-top-ul>li>i.second{float:right;width:2px;background:white;}
.index3-ul-li1>ul{top:-1px;}
.index3-ul-li2>ul{top:59px;}
.index3-ul-li3>ul{bottom: 0;padding-top: 2px;}
.index3-ul-li4>ul{bottom: 0;}
.index3-ul-li5>ul{bottom: 0;}
.index3-top-imgcontainer{height:300px;width:1000px;}
.index3-top-imgcontainer .csPager.cSpg{display:none;}
.index3-part-title{height:50px;line-height:50px;}
.index3-part-title1 i{background-position:-269px -196px;}
.index3-part-title2 i{background-position:-269px -250px;}
.index3-part-title4 i{background-position:-269px -306px;}
.index3-part-title a,.index3-moredata-satellite{color:#ddd;border:1px solid #CACACA;height:25px;line-height:25px;text-align: center;padding: 0 5px;}
.index3-part-title a:hover{/* color:#333333; */}
#moredata:hover{color:#2a6496;*width:300px;*float:right;*display:block}
.index3-ul1-list {padding:5px 0 0 1px;}
.index3-ul1-list li{float:left;margin:15px 0;width:200px;margin: 15px 19px 10px 20px;text-align: center;}
.index3-ul1-list a{width:200px;display: block;}
.index3-ul1-list a img{max-width:200px;height:200px;display:block;margin-bottom:5px;}
.index3-ul1-list a span{font:12px/1.5 tahoma,arial,"\5b8b\4f53";word-break: break-all;word-wrap: break-word;display:block;height:34px;overflow: hidden;line-height:17px;}
.index3-ul1-list a p{font:12px/1.5 tahoma,arial,"\5b8b\4f53";word-break: break-all;word-wrap: break-word;}
.index3-middle-ad img,.index3-middle-ad a{width:1200px;height:120px;}
.index3-ul2-list li{float:left;width:20%;}
.index3-ul2-list{padding:18px 0 18px 18px;}
.index3-ul2-list li>p{padding:0 5px;}
.index3-ul2-list-title{font-size:18px;color:#2C6ED5;margin:5px 0 10px 0;text-align: center;}
.index3-ul2-list-content{font:12px/22px tahoma,arial,"\5b8b\4f53";margin-bottom: 10px;}
.index3-ul2-list li>p a{margin-right:15px;float:right;border:1px solid #00A7FF;color:#00A7FF;line-height: 25px;text-align: center;width: 63px;}
.index3-ul2-list li>p a:hover{background:#00A7FF;color:white;}
.index3-part-infoproduct,.index3-part-workbench,.index3-part-newdata{border:1px solid #F2F2F2;}
.index3-part-contact>div{float:left;}
.index3-weixin img{height:74px;width:74px;float:left;margin:0 10px 0 0;}
.index3-weixin{width:200px;margin-right:60px;}
.index3-weixin>div{width:115px;float:right;}
.pd15{padding: 15px;}.index-weibo a.a-oper{font-size:18px;margin-left:10px;color:#555555;vertical-align:middle;}
.index-weibo a.a-oper:hover{color:#099aeb;}
.index-weibo p img{vertical-align: middle;}
.index3-mail{/* color:#999999; */margin-left:100px;color:#5C5959;}
.nav.nav-tabs{background:transparent;overflow: inherit; border-bottom: 1px solid #bce3f4;}
.nav.nav-tabs li{margin-right:11px;width:130px;text-align:center;font-size:18px;color:#555555;}
.nav.nav-tabs li a{cursor:pointer;position:relative;border-bottom: 1px solid #bce3f4;background:#F4F4F4;border-top:3px solid #DCDDE0;padding:0;height:43px;line-height:43px;border-right:1px solid #DCDDE0;border-left:1px solid #DCDDE0;}
.nav-tabs > li > a{border:1px solid transparent;border-radius:0;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus{z-index:1;border-top:3px solid #0997E9;border-left:1px solid #BCE3F4;border-right:1px solid #BCE3F4;border-color: #0997E9 #BCE3F4 transparent;background:white;}
.nav-tabs > li.active > a:hover,.nav-tabs > li > a:hover{border-top:3px solid #0997E9;border-left:1px solid #BCE3F4;border-right:1px solid #BCE3F4;border-color: #0997E9 #BCE3F4 transparent;}
.step-bar-middle.step-bar-middle2 {width: 350px;}
.index3-part-contact{border-bottom:1px solid #DEDEDE;}
.index3-friendly-link-container{padding-top:10px;border-top:1px solid white;}
.index3-friendly-link-container .title{border-left: 4px solid #f67b1e;padding-left: 10px;}
.index3-friendly-link{padding-bottom:20px;}
.index3-friendly-link p{margin:15px 0 0 15px;float:left;padding-right:15px;border-right:1px solid #999999;height:12px;line-height:12px;}
.index3-friendly-link p:last-child{border-right:none;}
.index3-weixin div p.font18{color:#099aeb;}
.index3-email{color:#099aeb;}
/*头尾修改*/
#userlogin_no.userlogin-no2, #userlogin_yes.userlogin-no2{margin-top:25px;}
.userlogin-no2>div.font2{float:right;clear:both;overflow:hidden;}
.index3-top-tell{font-size:19px;float:right;height:30px;line-height:25px;}
.index3-top-tell span{font-size:20px;color:#FF5400;}
.index3-top-tell i{margin-right:5px;float:left;background:url(../images/images2/datacenter2/datacenter2-cssimg.png) -151px -141px;width:24px;height:30px;}
.nav-ul li.index3-top-tell1{font-size:15px;}
.nav-ul li.index3-top-tell1 i{background-position:-332px -251px;margin:8px 0 0 10px;}
.nav-ul li.index3-top-tell1 span{font-size:22px;color:white;float: right;margin-right:10px;}
.footer-box2{border-top:1px solid #DDDDDD;}
.foot_copyright2{background:#FAFAFA;padding-bottom:5px;}
.foot3-beian{color:#333333;}
.foot3-beian a {color: #333333;}
.foot_copyright2>div{line-height:25px;}
.foot_copyright2 .l a:hover{color:#1F93D6;}
/*返回顶部修改*/
.go_to_up{z-index:9999;width:63px;right:5px;border:none;bottom:220px;}
.go_to_up>div{}
.go_to_up li{border:1px solid #e0f0f8;height:60px;background-color:#F4FAFB;background-image:url("../images/images2/datacenter2/datacenter2-cssimg.png");}
.go_to_up li:hover{background-color:#7DB7EF;}
.go_to_up li a{display:block;height:100%;width:100%;}
.go-backto-top{border-bottom:1px solid #E9E9E9;background-position:-375px -133px;}
.go-complaint-advice{border-bottom:1px solid #E9E9E9;background-position:-375px -195px;}
.go-contact-qq{background-position:-375px -258px;margin:3px 0;}
.go-backto-top:hover{background-position:-439px -133px;}
.go-complaint-advice:hover{background-position:-439px -195px;}
.go-contact-qq:hover{background-position:-439px -258px;}

/*移入bootstrap的style */
.nav {  padding-left: 0;  margin-bottom: 0;  list-style: none;}
.nav > li {position: relative;display: block;}
.nav > li > a {position: relative;display: block;padding: 10px 15px;}
.nav > li > a:hover,.nav > li > a:focus {text-decoration: none;background-color: #eee;}
.nav > li.disabled > a {color: #777;}
.nav > li.disabled > a:hover,.nav > li.disabled > a:focus {color: #777;text-decoration: none;cursor: not-allowed;background-color: transparent;}
.nav .open > a,.nav .open > a:hover,.nav .open > a:focus {background-color: #eee;border-color: #428bca;}
.nav .nav-divider {height: 1px;margin: 9px 0;overflow: hidden;background-color: #e5e5e5;}
.nav > li > a > img {max-width: none;}
.nav-tabs {border-bottom: 1px solid #ddd;}
.nav-tabs > li {float: right;margin-bottom: -1px;}
.nav-tabs > li > a {margin-right: 2px;line-height: 1.42857143;border: 1px solid transparent;border-radius: 4px 4px 0 0;}
.nav-tabs > li > a:hover {}

.nav-tabs.nav-justified {width: 100%;border-bottom: 0;}
.nav-tabs.nav-justified > li {float: none;}
.nav-tabs.nav-justified > li > a {margin-bottom: 5px;text-align: center;}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {top: auto;left: auto;}
.nav.nav-tabs.index-seo{clear: both;height: 46px;}
.nav-tabs.index-seo > li.active > a{background:white;cursor: default;pointer-events: none;}

.index3-middle-ad{width:1200px;height:120px;}
.index3-middle-ad .ad-end{height: 10px;width: 10px;top: 55px;left: 595px;}
.index-fix-ad{height:300px;width:1200px;    top: -300px; left: 50%;/* margin-top: -150px; */margin-left: -600px;z-index: 111;}
.index-fix-ad a{height:300px;width:1200px;}
.index3-top-ul>li>ul>li a.suojin{text-indent:-1.6em;}
.index3-top-ul>li>ul>li a.qianse{color:#adadad;}
.index3-part-title a.noneBorder{border:0 !important;cursor: default;}
span.hfPrev,span.hfNext{width:18px;height:18px;line-height:18px;border:1px solid #CACACA;display:inline-block;border-radius:4px;}
.index3-part-title span.hfPrev{margin-right:4px;}
/* .index3-part-title span:hover{background:#3399ff;} */

.index3-part-title span.hfNext{}
div.index_hyfw{width:1200px;height:276px;overflow:hidden;position:relative;}
div.index_hyfw ul{position:absolute;left:0;top:0;width:120000px;}
div.index_hyfw ul li{float:left;width:386px;height:274px;margin-left:20px;position:relative;}
div.index_hyfw ul li.first_li{margin-left:0;}
div.index_hyfw ul li a{display:block;}
div.index_hyfw ul li img{width:386px;height:274px;}
div.index_hyfw ul li div{width:100%;height:34px;background:black;opacity:0.7;filter:alpha(opacity=70);position:absolute;left:0;bottom:0;z-index:99;}
div.index_hyfw ul li p{position:absolute;left:0;bottom:0;z-index:100;width:100%;height:34px;line-height:34px;text-align:center;color:#fff;font-size:16px;white-space:nowrap;overflow:hidden;}
.hoverActive:hover {
  background: #3399ff;
  cursor: pointer;color: #fff;}

.littleimg{width:25px; margin:0 10px 5px 0;}
.texttitle{position:relative;width:1200px;margin:auto;height:300px;}
.titleText{position:absolute;top:70px;left:20px;color: #fff;font-size: 50px; }
.titleSubText{position:absolute;top:160px;left:20px;color: #fff;font-size: 17px;text-align: left;line-height:37px; }
#publicdataa{
    margin-left: 15px;
    margin-top:5px;
    float: right;
    font-size:15px;
    border: 1px solid #00A7FF;
    color: #00A7FF;
    line-height: 20px;
    text-align: center;
    width: 55px;
    text-decoration: none;
    cursor: pointer;
    -moz-outline: none;
    outline: none;
}

#publicdataa:hover {
    color: #fff;
    background-color: #00A7FF;
}
#publicdataa:focus, #publicdataa:hover {
    outline: none;
    text-decoration: none;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#mapfloatlayer{
    min-width:900px;
    min-height:700px;
    background-color: #fff;
    display:none;
    top:300px !important;
}
#topfloatlayer{
    height:30px;
    line-height: 30px;
    width:100%;
    background-color: #1a79fe;
    color:#fff;
}
#topfloatlayer span{
    margin-left:10px;
    font-size:1.2em;
}

#topfloatlayer img{
    float:right;
    margin-right:10px;
    width:23px;
    margin-top:3px;
    cursor: pointer;
}

#topfloatlayer img:last-child{
    margin-top:6px;
    width:18px;
}

#map{
    padding: 0;
    width: 65%;
    height: 670px;
    float: left;
}
#map_root,#map_gc,#map_layer0,#map_layer0 div{
    width:100% !important;
    height:100% !important;
}
#map_container {
    background-color: black;
}

#rightContent {
    padding: 0;
    margin-left: 15px;
    min-width: 240px;
    height: 100%;
    float: left;
}

#rightContent img {
    width: 200px;
    margin:auto;
}

#rightContent p, h3 {
    color: #197afe !important;
    margin-top:15px !important;
}

#rightContent p {
    margin: 20px 0;
}

#rightContent p span {
    color: #000;
    font-size: 1em;
}

#rightContent div {
    margin: 20px 0;
    color: #000;
    line-height: 1.7em;
    font-size: 1.5em;
    word-wrap: break-word;
    width: 100%;
}
