#map_root,#map_gc,#map_layer0,#map_layer0 div{
  width:100% !important;
  height:100% !important;
}
#map_container,#rightcontent_container,#leftcontent_container,#resultmap_container {
  background-color: black;
}
#maplaohekou{
  background-color: white;
}
#resultmap_root,#resultmap_gc,#resultmap_layer0,#resultmap_layer0 div,#rightcontent_root,#rightcontent_gc,#rightcontent_layer0,#rightcontent_layer0 div,#leftcontent_root,#leftcontent_gc,#leftcontent_layer0,#leftcontent_layer0 div{
  width:100% !important;
  height:100% !important;
}

.logo {
  width: 100%;
  border-bottom: 2px solid #e3e3e3;
  height: 69px;
  div {
    margin:auto;
    width:1200px;
    height:100%;
    .logoimg {
      width: 900px;
      height: 90%;
      margin: 6px auto 0 auto;
      float: left;
    }
    .people {
      width: 300px;
      float: left;
      line-height: 69px;
      font-size:0.9em;
      span{
        margin:0 7px;
        color: #1c84df;
      }
      span:first-child{
        color:black;
      }
    }
  }
}
.navbar{
  width:100%;
  height:40px;
  background-color: #379ae8;

  ul{
    margin:0 auto;
    padding:0;
    width:1200px;
    height:100%;
    list-style-type:none;
    li{
      float:left;
      background-color: #379ae8;
      color:#fff;
      margin:0 5px;
      width:150px;
      text-align: center;
      font-size:1.2em;
      line-height:40px;
      cursor:pointer;
    }
    li:first-child{
      margin-left:0;
    }
    li:hover{
      background-color: #1786cb;
    }
    .clicked{
      background-color: #1786cb;
    }
    .cantClick{
      color: rgb(207, 207, 207);
    }
  }
}

#headcontent{
  width:100%;
}

.path {
  width: 1200px;
  height: 40px;
  line-height: 30px;
  margin: 10px auto;
  font-size: 0.8em;
  border-bottom: 1px solid #e3e3e3;
  span {
    margin: 0 5px;
  }
  span:first-child {
    color: #999999;
  }
}

.bittitle {
  width: 1200px;
  height: 200px;
  margin: 20px auto;
  img {
    width: 200px;
    float: left;
  }
  div {
    float: left;
    width: 950px;
    margin-left: 50px;
    height: 179px;
    h1 {
      color: #1a79fe;
    }
    p {
      line-height: 1.7em;
    }
  }
}

.shishirangqian {
  .imgbase {
    width: 1200px;
    margin: auto;
    height: 660px;
    border: 1px solid #e3e3e3;
    .topmenu {
      height: 50px;
      background-color: #efefef;
      border-bottom: 1px solid #e3e3e3;
      div {
        display: block;
        height: 48px;
        float: left;
        text-align: center;
        width: 130px;
        font-size: 1.2em;
        line-height: 48px;
        border-bottom: 2px solid #1b79fe;
        background-color: #fdfdfe;
        cursor: pointer;
      }
      button {
        float: right;
        width: 80px;
        height: 30px;
        background-color: #fdfdfe;
        border: 1px solid #cfcfcf;
        margin: 10px;
        cursor: pointer;

      }
      button:hover {
        background-color: #5595ef;
        color: white;
      }
    }
    .imgcontent {
      height: 600px;
    }
    .flippage {
      text-align: center;
    }
  }
  .result {
    width: 1200px;
    margin: 30px auto;
    height: 601px;
    border: 1px solid #e3e3e3;
    .resultmenu {
      height: 50px;
      background-color: #efefef;
      border-bottom: 1px solid #e3e3e3;
      div {
        display: block;
        height: 48px;
        float: left;
        text-align: center;
        width: 130px;
        font-size: 1.2em;
        line-height: 48px;
        border-bottom: 2px solid #1b79fe;
        background-color: #fdfdfe;
        cursor: pointer;
      }
    }
    #resultmap {
      width: 100%;
      height: 550px;
    }
  }
}

.demquanzidongshengcheng {
  .topimg {
    width: 1200px;
    height: 470px;
    margin: auto;
    .imgbase:first-child {
      margin-right: 30px;
    }
    .imgbase {
      width: 575px;
      height: 100%;
      float: left;
      border: 1px solid #e3e3e3;
      .topmenu {
        height: 50px;
        background-color: #efefef;
        border-bottom: 1px solid #e3e3e3;
        button,select {
          float: left;
          height: 30px;
          margin: 10px;
          cursor: pointer;
          border: 1px solid #1b79fe;
        }
        button{
          background-color: #5595ef;
          color: white;
          width: 100px;
        }
        // DEM彩色晕渲颜色条选项
        .selectBmp {
          margin-top:5px;
          position: relative;
          width: 300px;
          float:left;
          ul, li {
            margin: 0;
            padding: 0;
            list-style: none;
          }
          ul{
            width:100%;
            position:absolute;
            z-index:9;
            background-color: #fff;
          }
          #select_input {
            width: 100%;
            height:40px;
            border:1px solid #5594ee;
            img{
              margin:10px 10px;
              height:20px;
              width:260px;
            }
          }
          #arrow {
            position: absolute;
            top:17px;
            right:7px;
            width: 0px;
            height: 0px;
            border-width:8px;
            border-style:solid;
            border-color: #197afe transparent transparent transparent;
          }

          #bmps {
            display:none;
            border: 1px solid grey;
            border-top: 0;
            .bmp_list{
              text-align: center;
              height: 20px;
              padding: 5px 0 0 0;
              border: 2px dotted white;
              img {
                width:100%;
                height:15px;
              }
              &:hover {
                //background: yellow;
                border: 2px dotted cornflowerblue;
              }
            }

          }
        }
      }
      #leftcontent,#rightcontent{
        width: 100%;
        height: 419px;
      }
    }
  }
  .bottomimg {
    width: 1200px;
    height: 551px;
    margin: 30px auto;
    border: 1px solid #e3e3e3;
    .topmenu {
      height: 50px;
      background-color: #efefef;
      border-bottom: 1px solid #e3e3e3;
      button,select{
        float: left;
        width: 90px;
        height: 30px;
        background-color: #fdfdfe;
        border: 1px solid #cfcfcf;
        margin: 10px;
        cursor: pointer;
      }
      button:hover{
        background-color: #5595ef;
        color: white;
      }
    }
    #bottomcontent{
      width: 100%;
      height: 500px;
    }
  }
}


.monitoring {
  font-family:"Microsoft Yahei";
  ul,li{
    text-decoration:none;
    list-style:none;
    margin:0;
    padding:0;
  }
  .imgbase {
    width: 1200px;
    margin: 30px auto 30px auto;
    border: 1px solid #e3e3e3;

    .menu {
      height: 50px;
      background-color: #efefef;
      border-bottom: 1px solid #e3e3e3;
      .monitorTitle {

        display: block;
        height: 48px;
        float: left;
        text-align: center;
        width: 150px;
        font-size: 1.2em;
        line-height: 48px;
        border-bottom: 2px solid #1b79fe;
        background-color: #fdfdfe;
        cursor: pointer;
      }
    }
    .contentComp{
      .computers{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        .onecomputer{
          display:inline-block;
          text-align:center;
          padding-top:30px;
          padding-bottom:20px;
        }
      }
    }
    .contentInfo{
      display:flex;
      flex-direction:row;

      justify-content: space-around;
      .info{
        width:300px;
        p{
          margin:30px 25px;
          span{
            color:#1A78FE;
          }

        }
      }
      .infopie{
        font-family:"Microsoft Yahei";
        width:300px;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        .infodesc{
          //margin-left:-50px;
        }
        p.up{

          margin:80px 0 20px -50px;
        }
        p.down{
          margin:0 0 0px -50px;
          font-size:2rem;
          //font-weight:bold;
        }
        .pie{
          margin-top:40px;
        }
      }
    }
    .processing{
      width:500px;
      p{
        margin: 30px 25px;
      }
    }
    .proContent{
      width:700px;
      .upContent{
        display:flex;
        flex-direction:row;
        justify-content: space-around;
        div{
          width:350px;
          p {
            margin: 30px 25px;
          }
        }
      }
      .downContent{
        margin-top:-30px;
        div{
          margin:30px 25px;
          position:relative;
          span{
          }
        }
        .colorBar{
          display:inline-block;

          position:absolute;
          height:40px;
          top:0;
          left:200px;
          margin-top:-10px;
        }
        .colorBarCPU{
          background:#FE7E7F;
          z-index:200;
          width:0.2*400px;
        }
        .colorBarMemory{
          background:#76C8BC;
          z-index:200;
          width:0.455*400px;
        }
        .grayBar{
          display:inline-block;
          width:400px;
          position:absolute;
          height:40px;
          background:#E7E7E7;
          top:0;
          left:200px;
          margin-top:-10px;
        }
      }
    }
    #tb1{
      margin:20px;
      font-size:0.8rem;
      tr {
        line-height: 1rem;
      }
      th {
        //font-size: 18px;
        border-bottom: solid 1px #DDDDDD;
        background-color: #EEEEEE;
        background-image: url(../img/sorttable/small.gif);
        background-repeat: no-repeat;
        background-position: right center;
      }
      td {
        //font-size: 14px;
        text-align: center;
      }
      .SortDescCss {
        background-image: url(../img/sorttable/desc.png);
        background-repeat: no-repeat;
        background-position: right center;
      }
      .SortAscCss {
        background-image: url(../img/sorttable/asc.png);
        background-repeat: no-repeat;
        background-position: right center;
      }

    }
  }
}

#selectDem,#selectDem2{
  width:1200px;
  height:660px;
  margin:auto;
  display: none;
  background-color: #fff;
  .title{
    height:30px;
    line-height: 30px;
    width:100%;
    background-color: #1a79fe;
    color:#fff;
    span{
      margin-left:10px;
      font-size:1.2em;
    }
    img{
      float:right;
      margin-right:10px;
      width:23px;
      margin-top:3px;
      cursor: pointer;
    }
  }
  ul {
    padding: 5px 0 0 1px;
    min-height: 450px !important;
    display: block;
    margin-bottom: 10px;
    height:540px;

    li {
      float: left;
      width: 200px;
      margin: 15px 19px 10px 20px;
      text-align: center;
      a {
        width: 200px;
        display: block;
        color: #222;
        text-decoration: none;
        img {
          max-width: 200px;
          height: 200px;
          display: block;
          margin-bottom: 5px;
          border: solid 4px transparent;
        }
        .imgclicked {
          border: solid 4px red;
        }
        span {
          font: 12px/1.5 tahoma, arial, "\5b8b\4f53";
          word-break: break-all;
          word-wrap: break-word;
          display: block;
          height: 34px;
          overflow: hidden;
          line-height: 17px;
        }
      }
    }
  }
  #confirm,#confirmDem,#confirmDem2{
    width:100px;
    height:40px;
    line-height:40px;
    color:#fff;
    background-color: #1a79fe;
    float:right;
    margin-right:10px;
    text-align:center;
    font-size:1.2em;
    cursor: pointer;
    margin-bottom:20px;
  }
}
.selectedImg{
  position:absolute;
  top:10px;
  left:10px;
  width:200px;
  height:200px;
  z-index: 10000;
  background: url("../img/selected.png") no-repeat 75px 74px;
}
#selectImg{
  width:100%;
  height:100%;
  ul {
    padding: 5px 0 0 1px;
    min-height: 450px !important;
    display: block;
    margin-bottom: 10px;
    height:540px;

    li {
      float: left;
      width: 200px;
      margin: 15px 19px 10px 20px;
      z-index: 10000;
      text-align: center;
      position:relative;

      a {
        width: 200px;
        display: block;
        color: #222;
        text-decoration: none;
        img {
          max-width: 200px;
          height: 200px;
          display: block;
          margin-bottom: 5px;
          border: solid 4px transparent;
        }
        .imgclicked {
          border: solid 4px red;
        }
        span {
          font: 12px/1.5 tahoma, arial, "\5b8b\4f53";
          word-break: break-all;
          word-wrap: break-word;
          display: block;
          height: 34px;
          overflow: hidden;
          line-height: 17px;
        }
      }
    }
  }
 }

