html
    head
        meta(charset="utf-8")
        link(href="../css/appcenter.css" type="text/css", rel="stylesheet")
    body
        .application
            .application_head
                .application_head_content
                    img(src="../img/yyjh.png" width="1200px" height="300px")
                    .application_head_desc
                        h1 应用汇集
                        p 能将学习材料用于新的具体情境，包括原则、
                        p 方法、技巧、规律的拓展。代表较高水平的
                        p 学习成果。应用需要建立对知识点掌握的基础上。
            .application_nav
                ul.ul_nav
                    li.tabs.on RS类
                    li.tabs 行业应用类
                    li.tabs GIS类
                    li.tabs 统计类
                    li.tabs 测绘类
                    li.tabs 编程开发类
                    li.tabs 三维类
                    li.tabs 其他类
                div.search_nav
                    input.input_search(type="text" placeholder="搜索应用名称")
                    .btn_search
            .application_content
                .content_list
                    img(src="../img/app4.png")
                    .content_list_title
                        h3.list_title 在线制图
                        div.list_desc 能将学习材料用于新的具体情境，包括原则、方法、技巧、规律的拓展。代表较高水平的学习成果。
                    .pics
                        span.rateStar
                        span.download
                .content_list
                    img(src="../img/app14.png")
                    .content_list_title
                        h3.list_title 在线预览
                        div.list_desc 能将学习材料用于新的具体情境，包括原则、方法、技巧、规律的拓展。代表较高水平的学习成果。
                    .pics
                        span.rateStar
                        span.download
                .content_list
                    img(src="../img/app1.png")
                    .content_list_title
                        h3.list_title DEM纠正
                        div.list_desc 能将学习材料用于新的具体情境，包括原则、方法、技巧、规律的拓展。代表较高水平的学习成果。
                    .pics
                        span.rateStar
                        span.download
                .content_list
                    img(src="../img/app6.png")
                    .content_list_title
                        h3.list_title 影像增强
                        div.list_desc 能将学习材料用于新的具体情境，包括原则、方法、技巧、规律的拓展。代表较高水平的学习成果。
                    .pics
                        span.rateStar
                        span.download
                .content_list
                    img(src="../img/app9.png")
                    .content_list_title
                        h3.list_title 影像镶嵌
                        div.list_desc 能将学习材料用于新的具体情境，包括原则、方法、技巧、规律的拓展。代表较高水平的学习成果。
                    .pics
                        span.rateStar
                        span.download
                .content_list
                    img(src="../img/app8.png")
                    .content_list_title
                        h3.list_title 影像剪裁
                        div.list_desc 能将学习材料用于新的具体情境，包括原则、方法、技巧、规律的拓展。代表较高水平的学习成果。
                    .pics
                        span.rateStar
                        span.download
                .content_list
                    img(src="../img/app3.png")
                    .content_list_title
                        h3.list_title 影像配准
                        div.list_desc 能将学习材料用于新的具体情境，包括原则、方法、技巧、规律的拓展。代表较高水平的学习成果。
                    .pics
                        span.rateStar
                        span.download
                .content_list
                    img(src="../img/app10.png")
                    .content_list_title
                        h3.list_title 监督分类
                        div.list_desc 能将学习材料用于新的具体情境，包括原则、方法、技巧、规律的拓展。代表较高水平的学习成果。
                    .pics
                        span.rateStar
                        span.download
                .content_list
                    img(src="../img/app12.png")
                    .content_list_title
                        h3.list_title 非监督分类
                        div.list_desc 能将学习材料用于新的具体情境，包括原则、方法、技巧、规律的拓展。代表较高水平的学习成果。
                    .pics
                        span.rateStar
                        span.download
                .content_list
                    img(src="../img/app13.png")
                    .content_list_title
                        h3.list_title 二值化
                        div.list_desc 能将学习材料用于新的具体情境，包括原则、方法、技巧、规律的拓展。代表较高水平的学习成果。
                    .pics
                        span.rateStar
                        span.download
                .content_list
                    img(src="../img/app17.png")
                    .content_list_title
                        h3.list_title 中值滤波
                        div.list_desc 能将学习材料用于新的具体情境，包括原则、方法、技巧、规律的拓展。代表较高水平的学习成果。
                    .pics
                        span.rateStar
                        span.download
                .content_list
                    img(src="../img/app2.png")
                    .content_list_title
                        h3.list_title 几何纠正
                        div.list_desc 能将学习材料用于新的具体情境，包括原则、方法、技巧、规律的拓展。代表较高水平的学习成果。
                    .pics
                        span.rateStar
                        span.download
                .content_list
                    img(src="../img/app16.png")
                    .content_list_title
                        h3.list_title 辐射纠正
                        div.list_desc 能将学习材料用于新的具体情境，包括原则、方法、技巧、规律的拓展。代表较高水平的学习成果。
                    .pics
                        span.rateStar
                        span.download
                .content_list
                    img(src="../img/app15.png")
                    .content_list_title
                        h3.list_title 植被指数计算
                        div.list_desc 能将学习材料用于新的具体情境，包括原则、方法、技巧、规律的拓展。代表较高水平的学习成果。
                    .pics
                        span.rateStar
                        span.download

