html
    head
        meta(charset="utf-8")
        link(href="../css/datacenter.css" type="text/css", rel="stylesheet")
    body
        .imgs
            .topImg
                img(src="../img/dayindian.png" width="1200px")
                .application_head_desc
                    h1 应用汇集
                    p 能将学习材料用于新的具体情境，包括原则、
                    p 方法、技巧、规律的拓展。代表较高水平的学习成果。
                    p 应用需要建立对知识点掌握的基础上。
            .imgsContent
                ul.tabsHead
                    li.on 全部影像
                    li 行政区划图
                    li 矢量图
                //第一个页面
                .imgsMore
                    ul.allimgsWrap
                        li.short
                            a(href="#" target="_black")
                                .imgdivwrap
                                    .imgwrap
                                        img(alt="佛山市三水区" src="../img/datacenter1.jpg")
                                    .imgtextdiv
                                        .imgBg
                                        .p1
                                            span 佛山市三水区
                                        .p2
                                            span 高分一号摄
                            a(href="#" target="_black")
                                .imgdivwrap
                                    .imgwrap
                                        img(alt="佛山市三水区" src="../img/datacenter1.jpg")
                                    .imgtextdiv
                                        .imgBg
                                        .p1
                                            span 佛山市三水区
                                        .p2
                                            span 高分一号摄
                        li
                            a(href="#" target="_black")
                                .imgdivwrap
                                    .imgwrap
                                        img(alt="苏州市行政区域图" src="../img/datacenter2.jpg")
                                    .imgtextdiv
                                        .imgBg
                                        .p1
                                            span 苏州市行政区域图
                                        .p2
                                            span 高分一号摄于2014年11月04日
                        li
                            a(href="#" target="_black")
                                .imgdivwrap
                                    .imgwrap
                                        img(alt="苏州市行政区域图" src="../img/datacenter2.jpg")
                                    .imgtextdiv
                                        .imgBg
                                        .p1
                                            span 苏州市行政区域图
                                        .p2
                                            span 高分一号摄于2014年11月04日
